.footer {
  position: relative;
  padding: 10px 20px;
  margin-top: 15px;
  width: 100%;
  height: 30%;
  background-color: #243246;
}
.nav-footer {
  margin-bottom: 10px;
  font-size: 1.1rem;
  text-align: left;
  color: white;
 
  vertical-align: baseline;

  column-count: 2;
}


.nav-item-footer {
  margin: 0 0;
}


.yuotube-icon,
.insta-icon {
  width: 22px;
  height: 22px;
}
.cotacts {
  position: relative;
  margin-top: 15px;
  color: #959aa6;
  column-count: 1;
}

.contacts-footer-tel,
.contacts-footer-mail {
  display: block;
  margin: 10px 15px;


  font-weight: 200;
  font-stretch: normal;
  font-style: italic;
}

.contacts-footer-tel {
  position: relative;
  font-size: 1.1rem;
}
.contacts-footer-tel::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -15px;

  display: block;
  width: 12px;
  height: 12px;

  background-image: url(../images/footer-icons/tel-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts-footer-mail {
  position: relative;
  font-size: 1rem;
}
.contacts-footer-mail::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -15px;

  display: block;
  width: 12px;
  height: 12px;

  background-image: url(../images/footer-icons/mail-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #243246;
}

.socials {
  position: absolute;
  right: 0;
  top: 0;

}

.footer-company {
  color: white;
}
.footer-copyright {
  color: #959aa6;
}

.footer-company,
.footer-copyright {
  margin: 5px 0;
  font-size: 0.8rem;
}

.color-white {
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(30px, auto);
}

@media screen and (min-width: 576px) {
  .nav-footer {
    text-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav-footer {
    text-align: center;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 50%;
  }
}

@media screen and (min-width: 1336px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    width: 90%;
  }

  .yuotube-icon,
  .insta-icon {
    width: 2rem;
    height: 2rem;
  }
  .footer {
    margin-top: 45px;
  }
}
