.header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 5.3rem;
  padding: 1.5rem 1rem;

  border-radius: 5px;
  background-color: var(--color-green);
}
.logo-header {
  font-size: 18px;
  font-family: "mulish";
  font-weight: bold;

  color: var(--color-white);
}
.wrapper-burger-nav {
  width: 36px;
  height: 36px;
  padding: 10px 6px;
  margin-left: auto;

  border-radius: 50%;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);

  background-color: var(--color-green);
}
.header-burger-nav {
  width: 24px;
  height: 1.8px;
  margin: 0 0 5.2px;

  background-color: var(--color-white);
}

.btn-call:hover {
  color: var(--color-green);
  background-color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .header {
    height: 7rem;
    padding: 2rem 1.5rem;

    border-radius: 5px;

    background-color: var(--color-green);
  }
  .logo-header {
    font-size: 2rem;
  }

  .wrapper-burger-nav {
    width: 49px;
    height: 49px;
    padding: 15px 8px;
    margin-left: auto;
    border-radius: 50%;

    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-green);
  }

  .header-burger-nav {
    width: 32.7px;
    height: 2.4px;
    margin: 0 0 5px;

    background-color: var(--color-white);
  }
  .header-line {
    display: inherit;
    width: 100%;
    height: 1px;
    margin-top: 0.7rem;

    background-color: #c4c4c4;
  }
}

@media screen and (min-width: 1024px) {
  .hiden {
    display: inherit;
  }

  .header{
    padding-left: 2.3rem;
  }
  .wrapper-burger-nav {
    display: none;
  }

  .wrapper-header-info {
    display: flex;
    justify-content: end;
    align-items: center;

    width: 75%;
    margin-left: auto;

    color: var(--color-white);
  }

  .header-burger-nav {
    font-size: 1.5rem;
  }

  .btn-call {
    max-width: 200px;
    min-width: 100px;
    padding: 1rem 2rem;
    margin-left: 1.5rem;

    font-size: 0.9rem;
    font-weight: 200;
    font-style: italic;

    border: 2px solid var(--color-white);
    border-radius: 5px;
    text-align: center;
  }
  .header-login-registration {
    margin-left: 50px;
  }

  .header-link-tel {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .header-free-consultation {
    margin-top: 2%;
    transform: translateX(27px);

    font-size: o.9rem;
    font-weight: 200;
    font-style: italic;
  }
  .wrapper-header-login-registration {
    margin-left: 2rem;
  }

  .logo-header-registration {
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .header-link-registration {
    font-size: 0.9rem;
    font-weight: 200;
    font-style: italic;
  }
  .header-call-icon {
    width: 40px;
    height: 40px;
    margin-top: 1%;
    transform: translateX(50%);
  }
}

@media screen and (min-width: 1336px) {
   .header{
    padding-left: 2.5rem;
  }

  .header-call-icon {
    width: 60px;
    height: 60px;
  }
  .btn-call {
    max-width: 250px;
  }
  .logo-header-registration {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1920px) {

 .header{
    padding-left: 3rem;
  }

  .header-call-icon {
    width: 80px;
    height: 80px;
  }
  .btn-call {
    max-width: 300px;
  }

  .logo-header-registration {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
  }

  .header-line {
    height: 1.5px;
  }
}
