.main-section {
  flex-grow: 0;
  padding-top: 2rem;
}
.header-main-section {
  font-family: var(--trojan-pro-3);
  font-size: 1.5rem;
  line-height: normal;
  color: var(--color-green);
}
.intro-text-main-section {
  margin-top: 1.1rem;
  line-height: normal;
}
.image-main-section {
  width: 230px;
  height: 245px;
}

.wrapper-main-form {
  width: 100%;
  min-width: 200px;
}

.form-main-section > input::placeholder {
  font-family: "mulish";
  font-size: 0.9rem;
  color: #c2c2c2;
}
.wrapper-main-submit {
  display: flex;
  justify-content: space-between;
}

.form-main-section > textarea::placeholder {
  font-family: "mulish";
  font-size: 0.9rem;
  color: #c2c2c2;
}

.form-main-section > :nth-child(1) {
  width: 100%;
  height: 35px;
  padding-left: 10px;

  border: solid 0.8px rgb(204, 204, 204);
  border-radius: 4px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.form-main-section > :nth-child(2) {
  width: 100%;
  height: 90px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: solid 0.8px rgb(204, 204, 204);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  resize: none;
}

.form-main-section > div > :nth-child(1) {
  position: relative;
  width: 11.5rem;
  padding-left: 17px;
  font-size: 0.7rem;
  text-align: left;
  color: #a3a3a3;
  cursor: pointer;
}
input.main-checkbox {
  position: absolute;
  top: 10px;
  left: 0;

  width: 8px;
  height: 8px;

  text-align: left;
}

.main-submit {
  min-width: 100px;
  padding: 8px 18px;
  /* margin-right: 6px; */
  border: none;
  border-radius: 2.8px;
  box-shadow: 0 2.2px 8.3px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--color-green);
  font-family: inherit;
  font-style: italic;
  font-size: 7.5px;
  color: white;
}

.wrapper-img-main-section {
  margin: 2rem auto;
  /* width: 80%; */
}

@media screen and (min-width: 768px) {
  .form-main-section > div > :nth-child(1) {
    width: 170px;
    /* margin-left: 15px; */
    font-size: 10px;
  }

  .wrapper-main-form {
    width: 56%;
  }

  .form-main-section > :nth-child(1) {
    width: 100%;
  }

  .form-main-section > :nth-child(2) {
    width: 100%;
  }

  .main-section {
    position: relative;
    align-items: flex-end;
  }

  .intro-text-main-section {
    width: 56%;
    margin-bottom: 15px;
  }

  .image-main-section {
    width: 295px;
    height: 305px;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .wrapper-main-online-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    border-radius: 50%;
    background-color: var(--color-green);
  }

  .wrapper-mainhead-icononline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 56%;
  }

  .main-online-users {
    width: 40px;
    height: 40px;
  }
  .main-user-count {
    margin-top: 0.5rem;
    color: white;
    font-size: 0.4rem;
  }

  input.main-checkbox {
    width: 10px;
    height: 10px;
  }

  .main-submit {
    font-size: 9.5px;
    margin: 0;
  }
  .wrapper-img-main-section {
    flex-shrink: 0;
    margin: 0;
  }

  .wrapper-main-submit {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .image-main-section {
    width: 340px;
    height: 355px;
  }

  .wrapper-main-submit {
    flex-direction: column;
  }

  .form-main-section > div > :nth-child(1) {
    width: 100%;
    margin-top: 18px;
    font-size: 11.5px;
  }
  .main-submit {
    width: 150px;
    margin-top: 20px;
    font-size: 11.2px;
    font-weight: 200;
  }

  input.main-checkbox {
    top: 0;
    width: 11px;
    height: 11px;
  }
}

@media screen and (min-width: 1336px) {
  input.main-checkbox {
    width: 11px;
    height: 11px;
  }

  .main-submit {
    font-size: 20px;
    color: rgb(239, 68, 11);
    /* font-weight: 200; */
  }
}
