.main-section {
  flex-grow: 0;
  padding-top: 2rem;
}
.header-main-section {
  font-family: var(--trojan-pro-3);
  font-size: 1.5rem;
  line-height: normal;
  color: var(--color-green);
}
.intro-text-main-section {
  margin-top: 1.5rem;
  line-height: normal;
}
.image-main-section {
  width: 250px;
  height: 260px;
}

.wrapper-main-form {
  width: 300px;
  min-width: 200px;
}

.form-main-section > input::placeholder {
  font-family: "mulish";
  font-size: 0.9rem;
  color: #c2c2c2;
}
.wrapper-main-submit {
  display: flex;
  justify-content: space-evenly;
}

.form-main-section > textarea::placeholder {
  font-family: "mulish";
  font-size: 0.9rem;
  color: #c2c2c2;
}

.form-main-section > :nth-child(1) {
  width: 280px;
  height: 35px;
  padding-left: 10px;

  border: solid 0.8px rgb(204, 204, 204);
  border-radius: 4px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.form-main-section > :nth-child(2) {
  width: 280px;
  height: 90px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: solid 0.8px rgb(204, 204, 204);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  resize: none;
}

.form-main-section > div > :nth-child(1) {
  position: relative;
  width: 11.5rem;
  padding-left: 5px;
  font-size: 0.7rem;
  text-align: left;
  color: #a3a3a3;
  cursor: pointer;
}
input.main-checkbox {
  position: absolute;
  top: 10px;
  left: -15px;

  width: 8px;
  height: 8px;

  text-align: left;


}

.main-submit {

  min-width: 100px;
  font-family: inherit;
  font-style: italic;
  font-size: x-large;
  color: white;
  font-size: 0.6rem;
  padding: 8px 18px;
  border: none;
  border-radius: 2.8px;
  box-shadow: 0 2.2px 8.3px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--color-green);
}

.wrapper-img-main-section {
  margin: 2rem auto;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .wrapper-img-main-section {
    /* display: inline-block; */
  }

  .header-main-section{
    /* width: 50%; */
    /* margin-right: 2rem; */
  }

  .wrapper-main-form {
    width: 56%;
  }

  /* .question-form-small,.question-form-big{
    width: 100%;
  } */

  .form-main-section > :nth-child(1) {
    width: 100%;
  }

  .form-main-section > :nth-child(2) {
    width: 100%;
  }

  .main-section {
    position: relative;
    align-items: flex-end;
  }

  .intro-text-main-section {
    width: 56%;
  }

  .image-main-section {
    position: absolute;
    top: 5px;
    left: 5px;
  }

   .wrapper-main-online-users{
    display: inherit;
    display: flex;
    flex-direction: column;
      align-items: center;
            justify-content: center;
    /* position: relative; */
    width: 5rem;
    height: 5rem;
    /* object-fit: cover; */
    /* object-position: center; */
    /* padding: 10px 20px; */
    margin-right: 2rem;
    border-radius: 50%;
    background-color: var(--color-green)}
  /* .wrapper-main-online-users{
    display: inherit;
  } */

  .wrapper-mainhead-icononline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-self: center; */
    width: 56%;
  }
}
.main-online-users{
  width: 40px;
  height: 40px;

}
.main-user-count{
  /* position: absolute; */
  /* bottom: 15px; */
  margin-top: 0.5rem;
  color: white;
  font-size: 0.4rem;
  /* text-align: center; */

}
.main-submit{
  font-size: 1rem;
  font-weight: 200;
}
.image-main-section{
  /* width: 300px;
  height: 305px; */
}