.navigation {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.navigation-list {
  display: flex;
  justify-content: space-around;
  align-items: center;


  font-family: "mulish";
  font-size: 1.5rem;
  font-weight: bold;
  color: #414141;
}
.navigation-list-item {
  display: inline-block;

  padding: 0.5rem 0.9rem;
}





.navigation-list-item:hover {

  outline: 2px solid var(--color-green);
  border-radius: 5px;
}

.navigation-list-item:active {
  color: var(--color-green);
  fill: var(--color-green);
  stroke: var(--color-green);
}



.nav-icon-searh {
  height: 3rem;
  width: 3rem;

  padding: 11px;

}


.nav-icon-searh:active {

  stroke: var(--color-green);
  border-radius: 10px;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1024px) {
  .navigation {
    display: inherit;
  }
}


@media screen and (min-width: 1336px) {
  .nav-icon-searh{
    width:3.5rem ;
    height: 3.5rem;

  }
}


@media screen and (min-width: 1920px) {

}

