.section-service {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem;
}
.header-section-service {
  margin-bottom: 1.4rem;
  font-family: var(--trojan-pro-3);
  font-size: 1.9rem;
  line-height: normal;
  color: var(--color-green);
  font-weight: 500;
  letter-spacing: 0%;
  text-align: center;
}
.discription-section-service {
  margin-bottom: 40px;
  color: rgb(65, 65, 65);
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: center;
  line-height: normal;
}
.renovation-services-provided {
  width: 210px;

  height: 320px;
  padding-top: 180px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 28px auto;
  border-radius: 5px;

  box-shadow: 0px 2.11px 15.86px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
      180deg,
      rgb(65, 65, 65) -49.242%,
      rgba(65, 65, 65, 0) 120.346%
    ),
    linear-gradient(0deg, rgb(101, 196, 102), rgba(37, 137, 249, 0) 23.16%),
    url(../images/services-provided-images/renovation-services-provided-big.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-services-provided {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 17.63px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
}
.discription-services-provided {
  margin-top: 8px;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
}
.btn-more-details {
  display: block;
  padding: 3px;
  margin: 15px auto;
  width: 100px;
  min-width: 70px;
  max-width: 150px;
  color: white;
  font-family: Roboto;
  font-size: 10.58px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: center;
}

.wrapper-scroll-indicator {
  text-align: center;
}
.scroll-indicator {
  display: inline-block;
  margin-left: 7px;
  width: 27px;
  height: 3px;
  border-radius: 1.66px;

  background: rgb(232, 226, 213);
}
.bg-green {
  display: inline-block;
  width: 27px;
  height: 3px;
  border-radius: 1.66px;
  background: var(--color-green);
}

.wrapper-nav-arrow {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  gap: 30px;
}
.nav-arrow {
  padding: 0;
  height: 24.83px;
  border-radius: 27px;
}
.nav-arrow {
  margin-left: 30px;
}

.building-services-provided {
  display: none;
}
.courses-services-provided {
  display: none;
}


@media screen and (min-width: 768px) {
  .section-service {
    margin-top: 3.5rem;
  }

 

  .building-services-provided {
    min-width: 170px;
    height: 255px;
    padding-top: 110px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;

    box-shadow: 0px 2.11px 15.86px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
        180deg,
        rgb(65, 65, 65) -49.242%,
        rgba(65, 65, 65, 0) 120.346%
      ),
      linear-gradient(0deg, rgb(101, 196, 102), rgba(37, 137, 249, 0) 23.16%),
      url(../images/services-provided-images/services-provided-bilding-big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .courses-services-provided {
    min-width: 170px;
    height: 255px;
    padding-top: 110px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;

    box-shadow: 0px 2.11px 15.86px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
        180deg,
        rgb(65, 65, 65) -49.242%,
        rgba(65, 65, 65, 0) 120.346%
      ),
      linear-gradient(0deg, rgb(101, 196, 102), rgba(37, 137, 249, 0) 23.16%),
      url(../images/services-provided-images/services-provided-courses-big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .scroll-indicator {
    margin-left: 9px;
  }
  .scroll-indicator,
  .bg-green {
    width: 35px;
  }

  .building-services-provided,
  .courses-services-provided {
    display: inline-block;
    width: 170px;
    height: 260px;
  }
 

  .renovation-services-provided {
    padding-top: 150px;
    min-width: 190px;
    height: 300px;
    margin: 0;
    display: inline-block;

    transform: translateY(-40px);
  }

  .wrapper-service-provided {
    display: flex;
    justify-content: space-evenly;
    gap: 0 50px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* width: 70%; */
  }
}

.discription-services-provided {
  font-size: 10px;
}

.header-services-provided {
  font-size: 16px;
}


/* @media screen and (min-width: 1024px) */

