  /* --greyish-brown: #414141;
  --white: #fff;
  --pinkish-grey: #c2c2c2;
  --greyish: #a3a3a3;
  --soft-green: #65c466;
  --brownish-grey: #696969;
  --warm-grey: #9d9d9d;
  --dark: #243246; */

*{
  box-sizing: border-box;
}
:root{
  --trojan-pro-3:"Trajan-pro-3-regular";
--color-green:rgb(101, 196, 102);
--color-white:white;
font-size: 13px;
font-family: "mulish";
}

.wrapper-page{
  padding: 0.5rem 1.5rem ;
}
.hiden{
  display: none;
}
.overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  
  .uppercase{
    text-transform: uppercase;
  }

  .column{
    display: flex;
    flex-direction: column;
  }

  .text-align-left{
    text-align: left;
  }

  /* .bg-green{
    background: var(--color-green);
  } */


  @media screen and (min-width:1336px){
    :root{
      font-size: 16px;
    }
  }
    @media screen and (min-width:1920px){
    :root{
      font-size: 23px;
    }
  }
 


   /* @media screen and (min-width:768px) */
    /* @media screen and (min-width:1024px) */
     /* @media screen and (min-width:1336px) */
      /* @media screen and (min-width:1920px) */